USE [master]
GO
/****** Object:  Database [PRO1041_IT17316_N5]    Script Date: 11/26/2022 11:02:27 PM ******/
CREATE DATABASE [PRO1041_IT17316_N5]

GO
USE [PRO1041_IT17316_N5]
GO
/****** Object:  Table [dbo].[CHATLIEU]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATLIEU](
	[MaCL] [int] IDENTITY(1,1) NOT NULL,
	[TenCL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSP]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSP](
	[MaCTSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[MaMS] [int] NULL,
	[MaLoai] [int] NULL,
	[MaCL] [int] NULL,
	[MaKC] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[MoTa] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDCT]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDCT](
	[MaHD] [int] NOT NULL,
	[MaCTSP] [int] NOT NULL,
	[NgayTao] [date] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [date] NULL,
	[TrangThai] [int] NULL,
	[MaNV] [int] NULL,
	[MaKH] [int] NULL,
	[MaKM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [varchar](20) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[MucKM] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KICHCO]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KICHCO](
	[MaKC] [int] IDENTITY(1,1) NOT NULL,
	[TenKC] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHANG]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANG](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAUSAC]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUSAC](
	[MaMS] [int] IDENTITY(1,1) NOT NULL,
	[TenMS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[SDT] [varchar](20) NULL,
	[Username] [varchar](50) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MALOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/26/2022 11:02:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[LoaiTK] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHATLIEU] ON 

INSERT [dbo].[CHATLIEU] ([MaCL], [TenCL]) VALUES (1, N'Nhựa')
INSERT [dbo].[CHATLIEU] ([MaCL], [TenCL]) VALUES (2, N'Cao su')
INSERT [dbo].[CHATLIEU] ([MaCL], [TenCL]) VALUES (3, N'Vải bông')
SET IDENTITY_INSERT [dbo].[CHATLIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[CHITIETSP] ON 

INSERT [dbo].[CHITIETSP] ([MaCTSP], [MaSP], [MaMS], [MaLoai], [MaCL], [MaKC], [SoLuong], [DonGia], [MoTa], [TrangThai]) VALUES (1, 2, 1, 1, 1, 1, 3, 1, N'dsadas', 1)
INSERT [dbo].[CHITIETSP] ([MaCTSP], [MaSP], [MaMS], [MaLoai], [MaCL], [MaKC], [SoLuong], [DonGia], [MoTa], [TrangThai]) VALUES (13, 11, 2, 3, 5, 2, 20, 111, N'1', 1)
INSERT [dbo].[CHITIETSP] ([MaCTSP], [MaSP], [MaMS], [MaLoai], [MaCL], [MaKC], [SoLuong], [DonGia], [MoTa], [TrangThai]) VALUES (14, 12, 4, 1, 5, 1, 1, 1, N'đâsas', 1)
SET IDENTITY_INSERT [dbo].[CHITIETSP] OFF
GO
INSERT [dbo].[HDCT] ([MaHD], [MaCTSP], [NgayTao], [SoLuong], [DonGia]) VALUES (1, 1, CAST(N'2022-11-24' AS Date), 2, 100)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MaHD], [NgayTao], [TrangThai], [MaNV], [MaKH], [MaKM]) VALUES (1, CAST(N'2022-11-24' AS Date), 0, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [NgaySinh]) VALUES (1, N'phú', N'việt nam', N'000', CAST(N'2003-12-18' AS Date))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[KHUYENMAI] ON 

INSERT [dbo].[KHUYENMAI] ([MaKM], [MucKM], [NgayBatDau], [NgayKetThuc]) VALUES (1, 0, NULL, NULL)
INSERT [dbo].[KHUYENMAI] ([MaKM], [MucKM], [NgayBatDau], [NgayKetThuc]) VALUES (2, 10, CAST(N'2022-11-24' AS Date), CAST(N'2022-11-25' AS Date))
INSERT [dbo].[KHUYENMAI] ([MaKM], [MucKM], [NgayBatDau], [NgayKetThuc]) VALUES (3, 50, CAST(N'2022-11-18' AS Date), CAST(N'2022-11-29' AS Date))
SET IDENTITY_INSERT [dbo].[KHUYENMAI] OFF
GO
SET IDENTITY_INSERT [dbo].[KICHCO] ON 

INSERT [dbo].[KICHCO] ([MaKC], [TenKC]) VALUES (1, N'X')
INSERT [dbo].[KICHCO] ([MaKC], [TenKC]) VALUES (2, N'L')
INSERT [dbo].[KICHCO] ([MaKC], [TenKC]) VALUES (3, N'XL')
SET IDENTITY_INSERT [dbo].[KICHCO] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIHANG] ON 

INSERT [dbo].[LOAIHANG] ([MaLoai], [TenLoai]) VALUES (1, N'Áo ')
INSERT [dbo].[LOAIHANG] ([MaLoai], [TenLoai]) VALUES (2, N'Quần')
INSERT [dbo].[LOAIHANG] ([MaLoai], [TenLoai]) VALUES (3, N'Áo sơ mi')
SET IDENTITY_INSERT [dbo].[LOAIHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[MAUSAC] ON 

INSERT [dbo].[MAUSAC] ([MaMS], [TenMS]) VALUES (1, N'Đen')
INSERT [dbo].[MAUSAC] ([MaMS], [TenMS]) VALUES (2, N'Đỏ')
INSERT [dbo].[MAUSAC] ([MaMS], [TenMS]) VALUES (3, N'Trắng')
SET IDENTITY_INSERT [dbo].[MAUSAC] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SDT], [Username], [NgaySinh]) VALUES (1, N'3', N'2', N'duc111', CAST(N'2003-09-27' AS Date))
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [SDT], [Username], [NgaySinh]) VALUES (2, N'2', N'5', N'duc1111', CAST(N'2003-09-27' AS Date))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MALOAI]) VALUES (1, N'Áo da bò', 1)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MALOAI]) VALUES (2, N'Quần tây', 2)
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [MALOAI]) VALUES (3, N'Áo lông', 3)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [LoaiTK]) VALUES (N'duc111', N'11', N'nhanvien')
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [LoaiTK]) VALUES (N'duc1111', N'11', N'nhanvien')
INSERT [dbo].[TAIKHOAN] ([Username], [Password], [LoaiTK]) VALUES (N'tien', N'11', N'quanly')
GO
ALTER TABLE [dbo].[CHITIETSP]  WITH CHECK ADD FOREIGN KEY([MaCL])
REFERENCES [dbo].[CHATLIEU] ([MaCL])
GO
ALTER TABLE [dbo].[CHITIETSP]  WITH CHECK ADD FOREIGN KEY([MaKC])
REFERENCES [dbo].[KICHCO] ([MaKC])
GO
ALTER TABLE [dbo].[CHITIETSP]  WITH CHECK ADD FOREIGN KEY([MaMS])
REFERENCES [dbo].[MAUSAC] ([MaMS])
GO
ALTER TABLE [dbo].[CHITIETSP]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[HDCT]  WITH CHECK ADD FOREIGN KEY([MaCTSP])
REFERENCES [dbo].[CHITIETSP] ([MaCTSP])
GO
ALTER TABLE [dbo].[HDCT]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KHUYENMAI] ([MaKM])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([Username])
REFERENCES [dbo].[TAIKHOAN] ([Username])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MaLoai])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_MALoai] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIHANG] ([MaLoai])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_MALoai]
GO
USE [master]
GO
